.root{
	-fx-background-color:rgba(0,0,255,0.5);
	-fx-spacing:20px;
	-fx-padding:0,10,30,10;
}

.button{
	-fx-background-color:rgba(0,0,255,0.5);
	-fx-font-size:10pt;
	-fx-pref-width:100px;
	-fx-pref-height:10px;
	-fx-border-radius:10px;
	-fx-text-fill:#000;
}

.button:hover{
	-fx-cursor:hand;
	-fx-text-fill:#fff;
}


.label{
	-fx-font-size:12pt;
}
