.root{
	-fx-background-color:rgba(0,0,255,0.5);

}


.button{
	-fx-background-color:rgba(0,0,255,0.5);
	-fx-font-size:10pt;
	-fx-pref-width:80px;
	-fx-pref-height:8px;
	-fx-border-radius:10px;
	-fx-text-fill:#000;
}
.button:hover{
	-fx-cursor:hand;
	-fx-text-fill:#fff;
}



.message{
	-fx-background-color:rgba(0,125,255,0.5);
	-fx-font-size:12pt;
}

.message:hover{
	-fx-background-color:rgba(0,0,0,1);
}

.menubar-item{
	-fx-backgroud-color:rgba(255,255,255,1);
}
.menubar-item:hover{
	-fx-backgroud-color:rgba(255,122,200,1);
	-fx-color:red;
}
.answer-title{
	-fx-font-size:12pt;
	-fx-font-color:red;

}
